<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
    <link rel="stylesheet" href="template.css">
</head>
<body>

     <!-- Loader -->
     <div class="loader">
        <div class="pre-loader"></div>
      </div>

    <!-- header -->
    <header class="header">
        <div class="row">
            <div class="logo">
                <img src="../images/logo.png" alt="logo"><span>CV Ninja</span>
            </div>

            <!-- nav toggle -->
      <div class="nav-toggle">
        <span class="first"></span>
        <span class="middle"></span>
        <span class="last"></span>
      </div>

        <nav class="nav">
            <ul>
                <li><a href="../index.html">home</a></li>
                <li><a href="#">about us</a></li>
                <li class="active"><a href="template.html">templates</a></li>
                <li><a href="../login/sign-in.html"><img src="../images/user-alt.png" alt="user" class="user"></a></li>
            </ul>
        </nav>
        </div>
    </header>

    <!-- hero -->
    <section class="hero">
       <div class="container">
        <div class="hero-text">
            <h1>Free resume templates</h1>
            <p>Hit the ground running with one of our pre-defined resume templates ranging from clean & elegant to splashy colourful. Each of the templates has been crafted with care to make designing your resume an absolute breeze for you</p>
        </div>
       </div>
    </section>

    <div class="container">
        <section class="template-list">
            <div class="template-filter-btn">
                <button type="button" class="active" data-target="all">All Templates</button>
                <button type="button" data-target="simple">Simple</button>
                <button type="button" data-target="creative">Creative</button>
                <button type="button" data-target="personal">Personal</button>
                <button type="button" data-target="mordern">Mordern</button>
            </div>
            <div class="row">
                <div class="template-image" data-id="simple">
                        <img src="../images/Group 8.png" alt="">
                        <div class="overlay">
                            <a href="../create-your-cv/cv.html"><h2>Use Default</h2></a>
                        </div>
                 </div>

                 <div class="template-image" data-id="creative">
                        <img src="../images/Group 8-4.png" alt="">
                        <div class="overlay">
                            <h2>Comming soon</h2>
                        </div>
                 </div>

                 <div class="template-image" data-id="mordern">
                        <img src="../images/Group 8-8 (1).png" alt="">
                        <div class="overlay">
                            <h2>Comming soon</h2>
                        </div>
                 </div>

                 <div class="template-image" data-id="personal">
                        <img src="../images/Group 8-1.png" alt="">
                        <div class="overlay">
                            <h2>Comming soon</h2>
                        </div>
                 </div>

                 <div class="template-image" data-id="simple">
                        <img src="../images/Group 8-6.png" alt="">
                        <div class="overlay">
                            <h2>Comming soon</h2>
                        </div>
                 </div>

                 <div class="template-image" data-id="creative">
                        <img src="../images/Group 8-10.png" alt="">
                        <div class="overlay">
                            <h2>Comming soon</h2>
                        </div>
                 </div>

            </div>

            <button class="default-btn">
                <a href="../create-your-cv/cv.html">Make Default</a>
            </button>
            <button class="discard-btn">
                Discard
            </button>
        </section>
        </div>
         <!-- footer section -->
        <footer>
        <div class="container">
            <div class="row">
                <article>
                    <div class="form-field">
                        <h3>Subscribe to our newsletter</h3>
                        <p>We wont spam you, we promise</p>

                        <div class="form-container">
                            <input type="text">
                            <button type="button" class="subscribe-btn">Subscribe</button>
                        </div>
                    </div>

                    <div class="bottom-nav">
                        <ul class="right">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Templates</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                        <ul class="left">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </article>
                <article>
                    <div class="social-links">
                        <img src="../images/Group 11133.png" alt="">
                        <img src="../images/Group 11128.png" alt="">
                        <img src="../images/Group 11130.png" alt="">
                    </div>
                    <h3>Contact Us</h3>
                    <p>+234 817 000 0000</p>
                    <p>+234 817 000 0000</p>
                </article>
            </div>
            <p class="copyright">© Copyright 2021 Cv Ninja. All rights reserved.</p>
        </div>
    </footer>
    <script src="./template.js"></script>
</body>
</html>